*.class
*.log
target/
core/src/pbf_generated/
project/project/
.idea/
.idea_modules/
.bsp/
.DS_Store
.gradle
.idea
*.javaEe
*.javae
*.iml
*.ipr
*.iws
out
/src/test/resources/com/ericsun95/spark/osm/pbf/*.txt